body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    padding-top: 20%;
    background-color: green;
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
    font-size: 50px;
}

#message-el {
    font-style: italic;
    font-size: 25px;
}
 
button {
    cursor: pointer;
    margin-top: 50px ;
    color: #016f32;
    width: 150px;
    background: goldenrod;
    border: none;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight:bold;
    font-size: large;
}

button:active{
    transform: scale(0.9);
}